body{
    margin: 15px auto;
    width: 70%;
}

/*table{
    border-style: solid;
        border-width: 1px;
        border-color: #8ebf42;
        background-color: #d9d9d9;
}

td th{
    text-align: left;
    border-style: solid;
        border-width: 1px;
        border-color: #8ebf42;
}*/

table, th, td {
    border: 1px solid rgb(231, 142, 142);
    border-style: groove;
  }

  td{
      min-width: 150px;
  }

  form{
      width: 100%;
      justify-content: center;
      margin: 100px;
  }

  input, textarea{
    border: 2px solid rgb(231, 142, 142);
    border-style: groove;
    width: 60%;
  }

 nav ul li{
    display: inline;
    margin-right: 100px;
    font-weight: bolder;
    color: grey;
    padding:10px;
  }

  br{
      line-height: 100px;
  }