body, html{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin:2px;
}

body{
    background-color: ivory;
}

ul{
    padding:5px;
    display:grid;
    list-style: none;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    border: 2px solid black;
    border-radius: 2px;
}

li{
    background-color: cadetblue;
    margin:10px;
    padding:10px;
    color:white;  
}
